body {
    background-color: rgb(17, 75, 40);
}

h1 {
    text-align: center;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 8px black;
    justify-content: center;
    align-items: center;
}

#image-container-image {
    object-fit: cover;
    width:400px;
    height:400px;
    float: left;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    color: white;
}

#main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#top-container-image {
    object-fit: cover;
    width:600px;
    height:600px;
}

#left-top-container {
    float: left;
    width: 50%;
    text-align: right;
}

#right-top-container {
    float: left;
    width: 50%;
}

#top-container {
    width: 100%;
    content: '';
    display: table;
    clear: both;
}

ul, li {
    text-align: center;
    list-style-position: inside;
    color: white;
}